[submodule "Autodafe"]
	path = Autodafe
	url = git@github.com:antoniograzioli/Autodafe.git
[submodule "cf"]
	path = cf
	url = git@github.com:cfoulc/cf.git
[submodule "Fundamental"]
	path = Fundamental
	url = git@github.com:VCVRack/Fundamental.git
[submodule "AudibleInstruments"]
	path = AudibleInstruments
	url = git@github.com:VCVRack/AudibleInstruments.git
[submodule "Befaco"]
	path = Befaco
	url = git@github.com:VCVRack/Befaco.git
[submodule "ESeries"]
	path = ESeries
	url = git@github.com:VCVRack/ESeries.git
[submodule "SonusModular"]
	path = SonusModular
	url = https://gitlab.com/sonusdept/sonusmodular.git
[submodule "PvC"]
	path = PvC
	url = git@github.com:phdsg/PvC.git
[submodule "Bidoo"]
	path = Bidoo
	url = git@github.com:sebastien-bouffier/Bidoo.git
[submodule "Bogaudio"]
	path = Bogaudio
	url = git@github.com:bogaudio/BogaudioModules.git
[submodule "Gratix"]
	path = Gratix
	url = git@github.com:gratrix/vcv-gratrix.git
[submodule "HetrickCV"]
	path = HetrickCV
	url = git@github.com:mhetrick/hetrickcv.git
[submodule "JE"]
	path = JE
	url = git@github.com:eres-j/VCVRack-plugin-JE.git
[submodule "JW-Modules"]
	path = JW-Modules
	url = git@github.com:jeremywen/JW-Modules.git
[submodule "KarateSnoopy"]
	path = KarateSnoopy
	url = git@github.com:KarateSnoopy/vcv-karatesnoopy.git
[submodule "LOGinstruments"]
	path = LOGinstruments
	url = git@github.com:leopard86/LOGinstruments.git
[submodule "Lindenberg Research"]
	path = Lindenberg Research
	url = git@github.com:lindenbergresearch/LRTRack.git
[submodule "ML_modules"]
	path = ML_modules
	url = git@github.com:martin-lueders/ML_modules.git
[submodule "MSM"]
	path = MSM
	url = git@github.com:Phal-anx/MSM.git
[submodule "MrLumps"]
	path = MrLumps
	url = git@github.com:djpeterso23662/MrLumps.git
[submodule "NauModular"]
	path = NauModular
	url = git@github.com:naus3a/NauModular.git
[submodule "Nohmad"]
	path = Nohmad
	url = git@github.com:joelrobichaud/Nohmad.git
[submodule "NonLinearInstruments"]
	path = NonLinearInstruments
	url = git@github.com:NonLinearInstruments/NLNRI_VCVRackPlugins.git
[submodule "Qwelk"]
	path = Qwelk
	url = git@github.com:raincheque/qwelk.git
[submodule "RJModules"]
	path = RJModules
	url = git@github.com:Miserlou/RJModules.git
[submodule "RODENTMODULES"]
	path = RODENTMODULES
	url = git@github.com:RODENTCAT/RODENTMODULES.git
[submodule "Simplemodulepack"]
	path = Simplemodulepack
	url = git@github.com:IohannRabeson/VCVRack-Simple.git
[submodule "StellareModular-Link"]
	path = StellareModular-Link
	url = git@github.com:stellare-modular/vcv-link.git
[submodule "StellareModular"]
	path = StellareModular
	url = git@github.com:stellare-modular/vcv-rack.git
[submodule "Valley Free"]
	path = Valley Free
	url = git@github.com:ValleyAudio/ValleyRackFree.git
[submodule "dBiz"]
	path = dBiz
	url = git@github.com:dBiz/dBiz.git
[submodule "dekstop"]
	path = dekstop
	url = git@github.com:dekstop/vcvrackplugins_dekstop.git
[submodule "luckyxxl"]
	path = luckyxxl
	url = git@github.com:luckyxxl/vcv_luckyxxl.git
[submodule "mental"]
	path = mental
	url = git@github.com:Strum/Strums_Mental_VCV_Modules.git
[submodule "moDllz"]
	path = moDllz
	url = git@github.com:dllmusic/VCV_moDllz.git
[submodule "mscHack"]
	path = mscHack
	url = git@github.com:mschack/VCV-Rack-Plugins.git
[submodule "s-ol"]
	path = s-ol
	url = git@github.com:s-ol/vcvmods.git
[submodule "trowaSoft"]
	path = trowaSoft
	url = git@github.com:j4s0n-c/trowaSoft-VCV.git
