[submodule "Autodafe"]
	path = Autodafe
	url = git@github.com:antoniograzioli/Autodafe.git
[submodule "cf"]
	path = cf
	url = git@github.com:cfoulc/cf.git
[submodule "Fundamental"]
	path = Fundamental
	url = git@github.com:VCVRack/Fundamental.git
[submodule "AudibleInstruments"]
	path = AudibleInstruments
	url = git@github.com:VCVRack/AudibleInstruments.git
[submodule "Befaco"]
	path = Befaco
	url = git@github.com:VCVRack/Befaco.git
[submodule "ESeries"]
	path = ESeries
	url = git@github.com:VCVRack/ESeries.git
[submodule "SonusModular"]
	path = SonusModular
	url = https://gitlab.com/sonusdept/sonusmodular.git
[submodule "PvC"]
	path = PvC
	url = git@github.com:phdsg/PvC.git
[submodule "Bidoo"]
	path = Bidoo
	url = git@github.com:sebastien-bouffier/Bidoo.git
[submodule "Bogaudio"]
	path = Bogaudio
	url = git@github.com:bogaudio/BogaudioModules.git
[submodule "Gratrix"]
	path = Gratrix
	url = git@github.com:gratrix/vcv-gratrix.git
[submodule "HetrickCV"]
	path = HetrickCV
	url = git@github.com:mhetrick/hetrickcv.git
[submodule "JE"]
	path = JE
	url = git@github.com:eres-j/VCVRack-plugin-JE.git
[submodule "JW-Modules"]
	path = JW-Modules
	url = git@github.com:jeremywen/JW-Modules.git
[submodule "KarateSnoopy"]
	path = KarateSnoopy
	url = git@github.com:KarateSnoopy/vcv-karatesnoopy.git
[submodule "LOGinstruments"]
	path = LOGinstruments
	url = git@github.com:leopard86/LOGinstruments.git
[submodule "LindenbergResearch"]
	path = LindenbergResearch
	url = git@github.com:lindenbergresearch/LRTRack.git
[submodule "ML_modules"]
	path = ML_modules
	url = git@github.com:martin-lueders/ML_modules.git
[submodule "MSM"]
	path = MSM
	url = git@github.com:Phal-anx/MSM.git
[submodule "MrLumps"]
	path = MrLumps
	url = git@github.com:djpeterso23662/MrLumps.git
[submodule "NauModular"]
	path = NauModular
	url = git@github.com:naus3a/NauModular.git
[submodule "Nohmad"]
	path = Nohmad
	url = git@github.com:joelrobichaud/Nohmad.git
[submodule "NonLinearInstruments"]
	path = NonLinearInstruments
	url = git@github.com:NonLinearInstruments/NLNRI_VCVRackPlugins.git
[submodule "Qwelk"]
	path = Qwelk
	url = git@github.com:raincheque/qwelk.git
[submodule "RJModules"]
	path = RJModules
	url = git@github.com:Miserlou/RJModules.git
[submodule "RODENTMODULES"]
	path = RODENTMODULES
	url = git@github.com:RODENTCAT/RODENTMODULES.git
[submodule "Simplemodulepack"]
	path = IO-Simple
	url = git@github.com:IohannRabeson/VCVRack-Simple.git
[submodule "StellareModular-Link"]
	path = StellareModular-Link
	url = git@github.com:stellare-modular/vcv-link.git
[submodule "StellareModular"]
	path = StellareModular
	url = git@github.com:stellare-modular/vcv-rack.git
[submodule "ValleyFree"]
	path = ValleyFree
	url = git@github.com:ValleyAudio/ValleyRackFree.git
[submodule "dBiz"]
	path = dBiz
	url = git@github.com:dBiz/dBiz.git
[submodule "dekstop"]
	path = dekstop
	url = git@github.com:dekstop/vcvrackplugins_dekstop.git
[submodule "luckyxxl"]
	path = luckyxxl
	url = git@github.com:luckyxxl/vcv_luckyxxl.git
[submodule "mental"]
	path = mental
	url = git@github.com:Strum/Strums_Mental_VCV_Modules.git
[submodule "mscHack"]
	path = mscHack
	url = git@github.com:mschack/VCV-Rack-Plugins.git
[submodule "s-ol"]
	path = s-ol
	url = git@github.com:s-ol/vcvmods.git
[submodule "trowaSoft"]
	path = trowaSoft
	url = git@github.com:j4s0n-c/trowaSoft-VCV.git
[submodule "Djack13-Csound"]
	path = Djack13-Csound
	url = git@github.com:Djack13/VCV-Rack-Csound-Modules.git
[submodule "mtsch-plugins"]
	path = mtsch-plugins
	url = https://github.com/mtsch/mtsch-vcvrack-plugins
[submodule "AmalgamatedHarmonics"]
	path = AmalgamatedHarmonics
	url = https://github.com/jhoar/AmalgamatedHarmonics
[submodule "JLmod"]
	path = JLmod
	url = git@github.com:JoakimLindbom/vcvrack.git
[submodule "SynthKit"]
	path = SynthKit
	url = git@github.com:JerrySievert/SynthKit.git
[submodule "stk"]
	path = stk
	url = git@github.com:briansorahan/stk.git
[submodule "Jimm"]
	path = Jimm
	url = git@github.com:jimm/vcv-jimm.git
[submodule "Fredmin-Sequencer"]
	path = Fredmin-Sequencer
	url = git@github.com:malcolmflint/Fredmin-Sequencer.git
[submodule "Yggdrasil"]
	path = Yggdrasil
	url = git@github.com:morten-leerhoy/harsh-noise-wall.git
[submodule "TheXOR"]
	path = TheXOR
	url = git@github.com:The-XOR/VCV-Sequencers.git
[submodule "AS"]
	path = AS
	url = git@github.com:AScustomWorks/AS.git
[submodule "CastleRocktronics"]
	path = CastleRocktronics
	url = git@github.com:KieranPringle/CastleRocktronics.git
[submodule "av500"]
	path = av500
	url = git@github.com:av500/vcvrackplugins_av500.git
[submodule "BaconMusic"]
	path = BaconMusic
	url = git@github.com:baconpaul/BaconPlugs.git
[submodule "Ahornberg-Microtonal"]
	path = Ahornberg-Microtonal
	url = git@github.com:Ahornberg/Ahornberg-Microtonal.git
[submodule "PulsumQuadratum"]
	path = PulsumQuadratum
	url = git@github.com:WIZARDISHUNGRY/vcvrack-rtlsdr.git
[submodule "DHE-Modules"]
	path = DHE-Modules
	url = git@github.com:dhemery/DHE-Modules.git
[submodule "TechTechTechnologies"]
	path = TechTechTechnologies
	url = git@github.com:wlaub/vcv.git
[submodule "SklarModules"]
	path = SklarModules
	url = git@github.com:sklarsa/SklarModules.git
[submodule "Aepelzen"]
	path = Aepelzen
	url = git@github.com:Aepelzen/AepelzensModules.git
[submodule "Jaffasplaffa"]
	path = Jaffasplaffa
	url = git@github.com:jaffasplaffa/VCV-MorphOsc.git
[submodule "FXKit"]
	path = FXKit
	url = git@github.com:JerrySievert/FXKit.git
[submodule "Agave"]
	path = Agave
	url = git@github.com:fabianesqueda/Agave.git
[submodule "FrozenWasteland"]
	path = FrozenWasteland
	url = git@github.com:almostEric/FrozenWasteland.git
[submodule "lufu"]
	path = lufu
	url = git@github.com:mlove-au/lufu-modules.git
[submodule "com-soundchasing-stochasm"]
	path = com-soundchasing-stochasm
	url = git@github.com:teletypist/stochasm.git
[submodule "JEM-Modules"]
	path = JEM-Modules
	url = git@github.com:jonmarple/JEM-Modules.git
[submodule "Ohmer"]
	path = Ohmer
	url = git@github.com:DomiKamu/Ohmer-Modules.git
[submodule "CharredDesert"]
	path = CharredDesert
	url = git@github.com:JerrySievert/CharredDesert.git
[submodule "southpole"]
	path = southpole
	url = git@github.com:gbrandt1/southpole-vcvrack.git
[submodule "DrumKit"]
	path = DrumKit
	url = git@github.com:JerrySievert/DrumKit.git
[submodule "Bark"]
	path = Bark
	url = git@github.com:Coirt/Bark.git
[submodule "RAYNTools"]
	path = RAYNTools
	url = git@github.com:charles-rayner/RAYNTools.git
[submodule "MPE"]
	path = MPE
	url = git@github.com:bafonso/MPE.git
[submodule "GuitarPlugins"]
	path = GuitarPlugins
	url = git@github.com:jhoar/GP.git
[submodule "grpGran"]
	path = grpGran
	url = git@github.com:guestroomproject/grp-plugins.git
[submodule "Kain"]
	path = Kain
	url = git@github.com:fenykep/Kain.git
[submodule "UModules"]
	path = UModules
	url = git@github.com:ffucci/UModules.git
[submodule "moDllz"]
	path = moDllz
	url = git@github.com:dllmusic/VCV_moDllz.git
[submodule "squinkylabs-plug1"]
	path = squinkylabs-plug1
	url = git@github.com:squinkylabs/SquinkyVCV.git
[submodule "Instruments"]
	path = Instruments
	url = git@github.com:JerrySievert/Instruments.git
[submodule "VCVia"]
	path = VCVia
	url = git@github.com:liquidcitymotors/VCVia.git
[submodule "SchmickleWorks"]
	path = SchmickleWorks
	url = git@github.com:cclark2a/SchmickleWorks.git
[submodule "bitFetcher"]
	path = bitFetcher
	url = git@github.com:bitfetcher/bF.git
